@charset "utf-8"; 

:root {
    /* font */
    --font-pre : 'Pretendard';
    --font-pop : 'Poppins';

    /* color */
    --reset-colorPoint : #4687FF;

    /* line color */
    --reset-lineColor-gray : #E3E3E3;
}


/* 초기화 */
* {font-family:'Pretendard', 'Spoqa Han Sans Neo', 'sans-serif', 'NotoSansKR', dotum, sans-serif;}
*, :after, :before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; word-break: keep-all;}
html {overflow-y:scroll}
body {margin:0; padding:0; font-size:0.75em; background:#fff; overflow: hidden;}

html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0; padding:0; border:0}
h1, h2, h3, h4, h5, h6 {}

ul, ol, dl, dt, dd {margin:0; padding:0; list-style:none;}
li {display: block;}
legend {position:absolute; margin:0; padding:0; font-size:0; line-height:0; text-indent:-9999em; overflow:hidden;}
label, input, button, select, img {vertical-align:middle;}
button {cursor:pointer;}
em,address {font-style: normal;}
img {max-width: 100%;}

p {margin:0; padding:0; word-break:break-all;}
hr {display:none}
pre {overflow-x:scroll; font-size:1.1em}
a {color:#000; text-decoration:none;}


textarea, select {}
select {margin:0;}
input[type="text"], input[type="submit"], textarea {-webkit-appearance: none;}
input, textarea, button, select {border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;}
input, button {margin:0; padding:0;}
input[type="submit"]{cursor:pointer;}

/* 팝업레이어 */
#hd_pop {width:1200px}
#hd_pop {z-index:5000;position:relative;margin:0 auto;height:0; width: 100%;}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff;}
.hd_pops img{max-width:100%}
.hd_pops_con {max-width:100%;}
.hd_pops_footer {padding: 0;background:#000;color:#fff;text-align:left;position:relative;}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding: 10px;border:0;color:#fff}
.hd_pops_footer .hd_pops_reject{background:#000;text-align:left}
.hd_pops_footer .hd_pops_close{background:#393939;position:absolute;top:0;right:0}



/* 기본 폰트 사이즈 */
h1 {font-size: 60px;}
h2 {font-size: 40px;}
h3 {font-size: 32px;}
h4 {font-size: 28px;}

/* width */
.w100p {width: 100% !important;}

/* input */
input[type="text"],input[type="number"],input[type="password"] {height: 50px; border: 1px solid var(--reset-lineColor-gray); padding: 0 20px; font-size: 16px; font-weight: 500; color: #000; background: #fff;}
input:focus {border-radius: 0; border-color: #000; outline: none;}
input::placeholder {color: #aaa;}
input:disabled {background: #FAFAFA;}
input:disabled::placeholder {color: #BEBEBE;}
input.error {border-color: #DF001A;}
input.error + .error_desc {margin-top: 14px; font-size: 14px; font-weight: 400; color: #DF001A; line-height: 1.2;}

/* Checkbox & Radiobox */
label.checkbox,
label.radio {display: inline-flex; align-items: center; gap: 10px;}
input[type="checkbox"],input[type="radio"] {-webkit-appearance:none; width: 20px; height: 20px; border: 1px solid var(--reset-lineColor-gray); background-color: #fff; background-size: 11px auto; background-position: center; background-repeat: no-repeat;}
input[type="checkbox"]:checked,input[type="radio"]:checked {background-image: url('icon/checked_icon.svg'); background-color: #000; border-color: #000;}
input[type="checkbox"] + span,
input[type="radio"] + span {font-size: 18px; font-weight: 500; color: #BEBEBE;}
input[type="checkbox"]:checked + span,
input[type="radio"]:checked + span {color: #000;}
input[type="checkbox"]:disabled,
input[type="radio"]:disabled {background-image: url('icon/check_disabled_icon.svg');}
input[type="checkbox"] {border-radius: 5px;}
input[type="radio"] {border-radius: 100%;}

/* Search */
[class^="dp_search_style"] {display: flex;}
[class^="dp_search_style"] .sch_select {position: relative; width: 170px; text-align: left;}
[class^="dp_search_style"] .sch_select .tit {padding: 0 35px 0 16px; display: block; position: relative; width: 100%; height: 50px; line-height: 51px; font-size: 16px; font-weight: 500; color: #BEBEBE; cursor: pointer;}
[class^="dp_search_style"] .sch_select .tit::after {content: ""; background: url('icon/select_arrow.svg') no-repeat; width: 26px; height: 26px; background-size: contain; background-position: center; position: absolute; right: 8px; top: 50%; transform: translateY(-50%); transition: transform .2s;}
[class^="dp_search_style"] .sch_select.on {border-color: #7A7A7A;}
[class^="dp_search_style"] .sch_select.on .tit {color: #000; border-color: #7A7A7A;}
[class^="dp_search_style"] .sch_select.on .tit::after {transform: translateY(-50%) rotate(180deg);}
[class^="dp_search_style"] .sch_select ul {display: none; position: absolute; left: 0; top: calc(100% + 5px); border: 1px solid #000; background: #fff; width: 100%; z-index: 10; overflow: hidden;}
[class^="dp_search_style"] .sch_select ul li {position: relative; font-size: 14px; font-weight: 400; color: #8E8E8E; cursor: pointer; padding: 10px 19px;}
[class^="dp_search_style"] .sch_select ul li:hover {color: #000; background: #F5F5F5;}
[class^="dp_search_style"] .sch_input {width: 391px; height: 100%; position: relative; overflow: hidden;}
[class^="dp_search_style"] .sch_input input {padding: 0 50px 0 16px; border: 0; width: 100%;}
[class^="dp_search_style"] .sch_input .sch_btn {border: 0; outline: none; border-radius: 0; background: none; width: auto; height: auto; position: absolute; top: 50%; transform: translateY(-50%); right: 16px;}
[class^="dp_search_style"] .sch_input .sch_btn img {width: 24px}
.dp_search_style01 .sch_select,
.dp_search_style01 .sch_input,
.dp_search_style03 .sch_select,
.dp_search_style03 .sch_input {border: 1px solid var(--reset-lineColor-gray);}
.dp_search_style01 .sch_input {border-left: 0;}
.dp_search_style02 .sch_select,
.dp_search_style02 .sch_input {border-bottom: 1px solid var(--reset-lineColor-gray);}
.dp_search_style03 {gap: 10px;}
.dp_search_style03 .sch_select,
.dp_search_style03 .sch_input,
.dp_search_style03 .sch_select ul {border-radius: 10px;}

/* scrollDown */
.dp_scrollDown {display: flex; align-items: center; gap: 10px;}
.dp_scrollDown .txt,
.dp_scrollDown .txt * {font-size: 16px; font-weight: 700; font-family: var(--font-mont); color: #000;}
.dp_scrollDown img {width: 24px;}
/* vertical */
.dp_scrollDown.vertical {transform: rotate(90deg); height: max-content;}
.dp_scrollDown.vertical .arrow {transform: rotate(-90deg);}
/* horizontal */
.dp_scrollDown.horizontal .flow_text {display: flex; align-items: center; white-space: nowrap; width: 135px; overflow: hidden;}
.dp_scrollDown.horizontal .flow_text span {animation: marqueeXup linear 50s infinite;}
@keyframes marqueeXup {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}
.bounce { -webkit-animation-name: bounce; animation-name: bounce; animation-fill-mode: both; animation-duration: 6s; animation-iteration-count: infinite; animation-timing-function: linear }
@-webkit-keyframes bounce {
    0%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(0,-3px,0);
        transform: translate3d(0,-3px,0)
    }

    20%,40%,60%,80% {
        -webkit-transform: translate3d(0,3px,0);
        transform: translate3d(0,3px,0)
    }
}

/* Textboxes */
textarea {resize: none; border: 1px solid var(--reset-lineColor-gray); padding: 15px; width: 100%; font-size: 16px; font-weight: 500; color: #000; line-height: 1.18; border-radius: 0; height: 200px;}
textarea::placeholder {color:#BEBEBE;}
textarea:focus {outline: none; border-color: #000;}

/* 버튼 */
[class^="dp_btn_"] {position: relative; display: inline-block; font-size: 0; transition: all .4s; overflow: hidden;}
[class^="dp_btn_"]::before {content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: -100%; transition: all .4s; z-index: 0;}
[class^="dp_btn_"] > * {display: inline-block; padding: 8px 24px 9px; font-size: 18px; font-weight: 400; letter-spacing: -.6px; transition: all .3s; position: relative; z-index: 1;}
[class^="dp_btn_"]:hover::before {left: 0;}
[class^="dp_btn_"]:hover > * {color: #fff;}
[class^="dp_btn_"].disabled {pointer-events: none;}
.dp_btn_w {background: #fff;}
.dp_btn_w::before {background: #000;}
.dp_btn_w > * {border: 1px solid #6d6d6d; color: #6d6d6d;}
.dp_btn_w:hover > * {border-color: #000;}
.dp_btn_w.disabled > * {background: #00000080; color: #fff; border: #00000080 !important;}
.dp_btn_g {background: #E7E7E7;}
.dp_btn_g::before {background: #6D6D6D;}
.dp_btn_g > * {border: 1px solid #E7E7E7; color: #000;}
.dp_btn_g:hover > * {border-color: #6D6D6D;}
.dp_btn_g.disabled > * {background: #6D6D6D80; color: #fff; border: #6D6D6D80 !important;}

/* 페이징 */
[class^="dp_paging_style"] {margin-top: 50px;}
[class^="dp_paging_style"] .paging{display:flex; justify-content: center; align-items: center; gap:24px}
[class^="dp_paging_style"] .paging a{position: relative; border-radius:50%; background-repeat: no-repeat !important; background-position:center !important;}
[class^="dp_paging_style"] .paging a:not(.page) {width:20px; height:20px;}
[class^="dp_paging_style"] .paging a.page{font-size:18px; font-weight:400; display:flex; justify-content: center; align-items: center; color:#999; line-height: 1.16;}
[class^="dp_paging_style"] .paging a.prev{background-image:url(icon/prev_ic.svg); background-size:20px; display:inline-block;}
[class^="dp_paging_style"] .paging a.prevAll{background-image:url(icon/prevAll_ic.svg); }
[class^="dp_paging_style"] .paging a.next{background-image:url(icon/next_ic.svg); background-size:20px; display:inline-block;}
[class^="dp_paging_style"] .paging a.nextAll{background-image:url(icon/nextAll_ic.svg); }
[class^="dp_paging_style"].dp_paging_style01 .paging a.current,
[class^="dp_paging_style"].dp_paging_style01 .paging a:hover{color:#000; text-decoration: underline; text-underline-offset: 4px; text-decoration-thickness: 2px; font-weight:600;}
[class^="dp_paging_style"].dp_paging_style02 .paging a.prevAll{background-image:url(icon/prevAll_ic_st02.svg);}
[class^="dp_paging_style"].dp_paging_style02 .paging a.nextAll{background-image:url(icon/nextAll_ic_st02.svg);}
[class^="dp_paging_style"].dp_paging_style02 .paging a.current {width: 37px;}
[class^="dp_paging_style"].dp_paging_style02 .paging a.current,
[class^="dp_paging_style"].dp_paging_style02 .paging a:hover{color:#fff;}
[class^="dp_paging_style"].dp_paging_style02 .paging a.current::before,
[class^="dp_paging_style"].dp_paging_style02 .paging a:hover::before {content: ""; width: 37px; height: 37px; border-radius: 100%; background: #000; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: -1;}
[class^="dp_paging_style"].dp_paging_style03 .paging {gap: 15px;}
[class^="dp_paging_style"].dp_paging_style03 .paging a {width: 37px; height: 37px; border-radius: 5px; border: 1px solid #E7E7E7; background-color: #fff; font-weight: 600; color: #8E8E8E;}
[class^="dp_paging_style"].dp_paging_style03 .paging a.current,
[class^="dp_paging_style"].dp_paging_style03 .paging a:hover{color:#fff; background-color: #000; border-color: #000;}

/* Tabbar */
[class^="dp_tab_style"] ul {display:flex;}
[class^="dp_tab_style"] ul li a {padding: 16px 0; width: 200px; display: flex; align-items: center; justify-content: center;}
[class^="dp_tab_style"] ul li a span {font-family: var(--font-pop); font-size: 20px; color:#8E8E8E; font-weight: 500; letter-spacing: -1px; line-height: 1.5;}
.dp_tab_style01 ul li a {border: 1px solid #ACACAC4D;}
.dp_tab_style01 ul li + li a {border-left: 0;}
.dp_tab_style01 ul li:hover a,
.dp_tab_style01 ul li.active a {background: #000; border-color: #000;}
.dp_tab_style01 ul li:hover a span,
.dp_tab_style01 ul li.active a span {color: #fff;}
.dp_tab_style02 ul li a {border-bottom: 1px solid #ACACAC4D;}
.dp_tab_style02 ul li.active a,
.dp_tab_style02 ul li:hover a{position: relative; color:#000; font-weight: 600;}
.dp_tab_style02 ul li.active a::after,
.dp_tab_style02 ul li:hover a::after {content: ""; width: 100%; height: 2px; background: #000; position: absolute; bottom: -1px; left: 0;}
.dp_tab_style02 ul li.active a span,
.dp_tab_style02 ul li:hover a span{color: #000;}
.dp_tab_style03 ul li a {padding: 4px 0;}
.dp_tab_style03 ul li + li a {border-left: 1px solid #E7E7E7;}
.dp_tab_style03 ul li.active a span,
.dp_tab_style03 ul li:hover a span{color: var(--reset-colorPoint);}

/* Slidebar */
[class^="dp_swiper_style"] .swiper-slide {width: 100%; overflow: hidden;}
[class^="dp_swiper_style"] .swiper-slide img {width: 100%; height: 100%; object-fit: cover; object-position: center;}
[class^="dp_swiper_style"] .arrow_btn::after {display: none;}
[class^="dp_swiper_style"] .arrow_btn {width: auto; height: auto; margin: 0;}
[class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper_bot {width: 100%; display: flex; align-items: center; justify-content: flex-start; gap: 0 15px;}
[class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper-pagination-bullet {width: 120px; height: 2px; border-radius: 0; position: relative; overflow: hidden; margin: 0 !important; opacity: 1; background: #ffffff50; display: none;}
[class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper-pagination-bullet::before {content: ""; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; transition: opacity 0.3s;}
[class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper-pagination-bullet-active {background: #00000033; display: block;}
[class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper-pagination-bullet-active::before {background-color: #000; animation: slide-progress 3.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;}
[class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper-pagination.paused-animation .swiper-pagination-bullet-active::before {animation-play-state: paused;}
[class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper-pagination2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); display: flex; align-items: center; justify-content: space-between; font-size: 0; width: 100%;}
[class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper-pagination2 span {font-size: 14px; font-weight: 700; color: #000; letter-spacing: -.8px;}
[class^="dp_swiper_style"]:not(.dp_swiper_style01) .pause img {width: 25px; cursor: pointer;}
@keyframes slide-progress {
    0% {  
        transform: translateX(-100%); 
    } 
    100% {  
        transform: translateX(0); 
    }
}
[class^="dp_swiper_style"].dp_swiper_style01 .arrow_btn {width: 68.18px; height: 68.18px; border-radius: 100%; background: #fff; box-shadow: 0px 9.09px 27.27px 0px #959DA533; transition: all .3s;}
[class^="dp_swiper_style"].dp_swiper_style01 .arrow_btn img {width: 27.27px; transition: all .3s;}
[class^="dp_swiper_style"].dp_swiper_style01 .arrow_btn:hover {background: var(--reset-colorPoint);}
[class^="dp_swiper_style"].dp_swiper_style01 .arrow_btn:hover img {filter: brightness(0) invert(1);}
[class^="dp_swiper_style"].dp_swiper_style02 .pagination_cont {width: 202px; height: 2px; display: flex; align-items: center; gap: 24px; position: relative;}
[class^="dp_swiper_style"].dp_swiper_style02 .swiper-pagination {position: absolute; margin: 0; top: 50%; right: auto; bottom: auto; left: 50%; transform: translate(-50%,-50%); width: auto; display: flex; align-items: center; gap: 0 10px;}
[class^="dp_swiper_style"].dp_swiper_style02 .swiper_bot .arrow_btn {position: relative; top: auto; right: auto; bottom: auto; left: auto;}
[class^="dp_swiper_style"].dp_swiper_style02 .swiper_bot .arrow_btn img {width: 16px;}
[class^="dp_swiper_style"].dp_swiper_style03 .swiper-pagination {position: relative; top: auto; right: auto; bottom: auto; left: auto; margin: 0;}
[class^="dp_swiper_style"].dp_swiper_style03 .swiper-pagination-bullet {width: 450px;}

/* Alertbox */
/* [class^="dp_alertbox_style"]{display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:10000;} */
[class^="dp_alertbox_style"].on{display:block;}
[class^="dp_alertbox_style"] .popup_bg{position:absolute; width:100%; height:100%; background: rgba(0, 0, 0, 0.50);}
[class^="dp_alertbox_style"] .popup_inner{/* position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); */ width: 650px; background: #FFF; box-shadow: 0px 5px 10px 0px #0000001A; overflow: hidden;}
[class^="dp_alertbox_style"] .pop_close{cursor: pointer;}
[class^="dp_alertbox_style"] .pop_close img {width: 26px;}
[class^="dp_alertbox_style"] .pop_tit{display:flex; align-items:center; justify-content:space-between;}
[class^="dp_alertbox_style"] .pop_tit .tit {font-size: 20px; font-weight: 700; line-height: 1; font-family: var(--font-pre);}
[class^="dp_alertbox_style"] .pop_cont {padding:40px 15px 45px 40px;}
[class^="dp_alertbox_style"] .contents-box-inner {max-height: 185px; overflow-y:auto; padding-right: 21px;}
[class^="dp_alertbox_style"] .contents-box-inner * {font-size: 18px; font-weight: 400; color: #AAAAAA; line-height: 1.4; font-family: var(--font-pre);}
[class^="dp_alertbox_style"] .contents-box-inner::-webkit-scrollbar {width: 3px;}
[class^="dp_alertbox_style"] .contents-box-inner::-webkit-scrollbar-thumb {height: 30%; background: #888888; border-radius: 10px;}
[class^="dp_alertbox_style"] .contents-box-inner::-webkit-scrollbar-track {background: #DDDDDD; border-radius: 10px;}
[class^="dp_alertbox_style"] .headline {margin: 35px auto 10px; line-height: 1.2;}
[class^="dp_alertbox_style"] .headline:first-child {margin-top: 0;}
[class^="dp_alertbox_style"] .headline h5 {font-size: 18px; line-height: 1.2; font-weight: 700; color: #000;}
[class^="dp_alertbox_style"] .pop_cont ol{margin:.3em 0 1em; padding-inline-start:0px }
[class^="dp_alertbox_style"] .pop_cont ol li{list-style-type:decimal}
[class^="dp_alertbox_style"] .pop_cont .disc {padding-inline-start:20px;}
[class^="dp_alertbox_style"] .pop_cont .disc li{list-style-type:disc; padding-left:10px; position:relative;}
[class^="dp_alertbox_style"] .pop_cont .disc li:before{content:''; display:block; width:4px; height:4px; border-radius:50%; background:#ccc; position:absolute; top:12px; left:0;}
[class^="dp_alertbox_style"].dp_alertbox_style01 .pop_tit {background: #000; text-align: center; padding: 0 26px; height: 70px; position: relative; justify-content: flex-end;}
[class^="dp_alertbox_style"].dp_alertbox_style01 .pop_tit .tit {color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
[class^="dp_alertbox_style"].dp_alertbox_style01 .pop_close img {filter: brightness(0) invert(1);}
[class^="dp_alertbox_style"].dp_alertbox_style02 .pop_cont {padding-bottom: 35px;}
[class^="dp_alertbox_style"].dp_alertbox_style02 .popup_inner {border-radius: 30px; border: 1px solid #E7E7E7;}
[class^="dp_alertbox_style"].dp_alertbox_style02 .pop_tit {display: flex; align-items: center; justify-content: space-between; width: calc(100% - 66px); border-bottom: 1px solid #BEBEBE; padding: 34px 0 26px; margin: 0 auto;}


/* 1280 */
@media screen and (max-width:1280px){

    /* 기본 폰트 사이즈 */
    h1 {font-size: 3.44vw;}
    h2 {font-size: 2.50vw;}
    h3 {font-size: 1.88vw;}
    h4 {font-size: 1.56vw;}

    /* input */
    input[type="text"],input[type="number"],input[type="password"] {height: 2.81vw; padding: 0 1.09vw; font-size: 0.94vw;}
    input.error + .error_desc {margin-top: 0.78vw; font-size: 0.94vw;}

    /* Checkbox & Radiobox */
    label.checkbox,
    label.radio {gap: 1.09vw;}
    input[type="checkbox"],input[type="radio"] {width: 1.25vw; height: 1.25vw; background-size: 0.69vw auto;}
    input[type="checkbox"] + span,
    input[type="radio"] + span {font-size: 0.94vw;}
    input[type="checkbox"] {border-radius: 0.39vw;}

    /* Search */
    [class^="dp_search_style"] .sch_select {width: 13.28vw;}
    [class^="dp_search_style"] .sch_select .tit {padding: 0 2.34vw 0 0.94vw; height: 2.81vw; line-height: 2.81vw; font-size: 0.94vw;}
    [class^="dp_search_style"] .sch_select .tit::after {width: 1.46vw; height: 1.46vw; right: 0.47vw;}
    [class^="dp_search_style"] .sch_select ul {top: calc(100% + 0.31vw);}
    [class^="dp_search_style"] .sch_select ul li {font-size: 0.94vw; padding: 0.55vw 0.86vw;}
    [class^="dp_search_style"] .sch_input {width: 30.55vw;}
    [class^="dp_search_style"] .sch_input input {padding: 0 2.34vw 0 0.94vw;}
    [class^="dp_search_style"] .sch_input .sch_btn {right: 0.94vw;}
    [class^="dp_search_style"] .sch_input .sch_btn img {width: 1.35vw}
    .dp_search_style03 {gap: 0.55vw;}
    .dp_search_style03 .sch_select,
    .dp_search_style03 .sch_input,
    .dp_search_style03 .sch_select ul {border-radius: 0.56vw;}

    /* scrollDown */
    .dp_scrollDown {gap: 0.55vw;}
    .dp_scrollDown .txt,
    .dp_scrollDown .txt * {font-size: 0.94vw;}
    .dp_scrollDown img {width: 1.35vw;}
    /* horizontal */
    .dp_scrollDown.horizontal .flow_text {width: 7.89vw;}
    @-webkit-keyframes bounce {
        0%,to {
            -webkit-transform: translateZ(0);
            transform: translateZ(0)
        }

        10%,30%,50%,70%,90% {
            -webkit-transform: translate3d(0,-0.16vw,0);
            transform: translate3d(0,-0.16vw,0)
        }

        20%,40%,60%,80% {
            -webkit-transform: translate3d(0,0.16vw,0);
            transform: translate3d(0,0.16vw,0)
        }
    }

    /* Textboxes */
    textarea {padding: 0.86vw; font-size: 0.94vw; height: 11.24vw;}

    /* 버튼 */
    [class^="dp_btn_"] > * {padding: 0.59vw 1.25vw 0.63vw; font-size: 0.94vw; letter-spacing: -0.03vw;}

    /* 페이징 */
    [class^="dp_paging_style"] .paging{ gap:1.33vw}
    [class^="dp_paging_style"] .paging a:not(.page) {width:1.12vw; height:1.12vw;}
    [class^="dp_paging_style"] .paging a.page{font-size:1.02vw;}
    [class^="dp_paging_style"] .paging a.prev{ background-size:1.12vw;}
    [class^="dp_paging_style"] .paging a.next{ background-size:1.12vw;}
    [class^="dp_paging_style"].dp_paging_style01 .paging a.current,
    [class^="dp_paging_style"].dp_paging_style01 .paging a:hover{ text-underline-offset: 0.31vw; text-decoration-thickness: 0.16vw;}
    [class^="dp_paging_style"].dp_paging_style02 .paging a.current {width: 2.08vw;}
    [class^="dp_paging_style"].dp_paging_style02 .paging a.current::before,
    [class^="dp_paging_style"].dp_paging_style02 .paging a:hover::before {width: 2.08vw; height: 2.08vw;}
    [class^="dp_paging_style"].dp_paging_style03 .paging {gap: 0.86vw;}
    [class^="dp_paging_style"].dp_paging_style03 .paging a {width: 2.08vw; height: 2.02vw; border-radius: 0.28vw;}

    /* Tabbar */
    [class^="dp_tab_style"] ul li a {width: 11.24vw; padding: 0.94vw 0;}
    [class^="dp_tab_style"] ul li a span {font-size: 1.17vw; letter-spacing: -0.06vw;}
    .dp_tab_style02 ul li.active a::after,
    .dp_tab_style02 ul li:hover a::after {height: 0.16vw; bottom: -0.08vw;}
    .dp_tab_style03 ul li a {padding: 0.23vw 0;}

    /* Slidebar */
    [class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper_bot {gap: 0 0.86vw;}
    [class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper-pagination-bullet {width: 6.74vw; height: 0.11vw;}
    [class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper-pagination2 span {font-size: 0.79vw; letter-spacing: -0.05vw;}
    [class^="dp_swiper_style"]:not(.dp_swiper_style01) .pause img {width: 1.40vw;}
    [class^="dp_swiper_style"].dp_swiper_style01 .arrow_btn {width: 3.83vw; height: 3.83vw; box-shadow: 0.00vw 0.51vw 1.53vw 0.00vw #959DA533;    }
    [class^="dp_swiper_style"].dp_swiper_style01 .arrow_btn img {width: 1.53vw;}
    [class^="dp_swiper_style"].dp_swiper_style02 .pagination_cont {width: 11.31vw; height: 0.11vw; gap: 1.33vw;}
    [class^="dp_swiper_style"].dp_swiper_style02 .swiper-pagination { gap: 0 1.33vw;}
    [class^="dp_swiper_style"].dp_swiper_style02 .swiper_bot .arrow_btn img {width: 0.90vw;}
    [class^="dp_swiper_style"].dp_swiper_style03 .pagination_cont {height: 0.17vw;}
    [class^="dp_swiper_style"].dp_swiper_style03 .swiper-pagination-bullet {width: 25.31vw; height: 0.17vw;}

    /* Alertbox */
    [class^="dp_alertbox_style"] .popup_inner{width: 36.52vw; box-shadow: 0.00vw 0.28vw 0.56vw 0.00vw #0000001A;}
    [class^="dp_alertbox_style"] .pop_close img {width: 1.46vw;}
    [class^="dp_alertbox_style"] .pop_tit .tit {font-size: 1.17vw;}
    [class^="dp_alertbox_style"] .pop_cont {padding: 2.19vw 0.86vw 2.58vw 2.19vw;}
    [class^="dp_alertbox_style"] .contents-box-inner {max-height: 10.41vw; padding-right: 1.33vw;}
    [class^="dp_alertbox_style"] .contents-box-inner * {font-size: 1.02vw;}
    [class^="dp_alertbox_style"] .contents-box-inner::-webkit-scrollbar {width: 0.17vw;}
    [class^="dp_alertbox_style"] .contents-box-inner::-webkit-scrollbar-thumb {border-radius: 0.56vw;}
    [class^="dp_alertbox_style"] .contents-box-inner::-webkit-scrollbar-track {border-radius: 0.56vw;}
    [class^="dp_alertbox_style"] .headline {margin: 1.17vw auto 0.55vw;}
    [class^="dp_alertbox_style"] .headline h5 {font-size: 1.02vw;}
    [class^="dp_alertbox_style"] .pop_cont .disc {padding-inline-start:1.17vw;}
    [class^="dp_alertbox_style"] .pop_cont .disc li{ padding-left:0.78vw;}
    [class^="dp_alertbox_style"] .pop_cont .disc li:before{width:0.23vw; height:0.23vw; top:0.55vw;}
    [class^="dp_alertbox_style"].dp_alertbox_style01 .pop_tit {padding: 0 1.48vw; height: 3.91vw;}
    [class^="dp_alertbox_style"].dp_alertbox_style02 .pop_cont {padding-bottom: 1.95vw;}
    [class^="dp_alertbox_style"].dp_alertbox_style02 .popup_inner {border-radius: 1.69vw;}
    [class^="dp_alertbox_style"].dp_alertbox_style02 .pop_tit {width: calc(100% - 3.44vw); padding: 1.95vw 0 1.25vw;}

}


/* 768 */
@media screen and (max-width:768px){

    /* 기본 폰트 사이즈 */
    h1 {font-size: 8.33vw;}
    h2 {font-size: 6.25vw;}
    h3 {font-size: 5.21vw;}
    h4 {font-size: 4.69vw;}

    /* input */
    input[type="text"],input[type="number"],input[type="password"] {height: 12.63vw; padding: 0 5.21vw; font-size: 3.65vw;}
    input.error + .error_desc {margin-top: 3.13vw; font-size: 3.65vw;}

    /* Checkbox & Radiobox */
    label.checkbox,
    label.radio {gap: 2.60vw;}
    input[type="checkbox"],input[type="radio"] {width: 5.21vw; height: 5.21vw; background-size: 2.86vw auto;}
    input[type="checkbox"] + span,
    input[type="radio"] + span {font-size: 3.65vw;}
    input[type="checkbox"] {border-radius: 1.30vw;}

    /* Search */
    [class^="dp_search_style"] .sch_select {width: 28.65vw; height: 13.28vw;}
    [class^="dp_search_style"] .sch_select .tit {padding: 0 11.72vw 0 4.17vw; height: 100%; line-height: 13.28vw; font-size: 3.65vw;}
    [class^="dp_search_style"] .sch_select .tit::after {width: 6.25vw; height: 6.25vw; right: 2.08vw;}
    [class^="dp_search_style"] .sch_select ul {top: calc(100% + 1.30vw);}
    [class^="dp_search_style"] .sch_select ul li {font-size: 3.65vw; padding: 2.60vw 3.91vw;}
    [class^="dp_search_style"] .sch_input {width: 65.10vw; height: 13.28vw;}
    [class^="dp_search_style"] .sch_input input {padding: 0 11.72vw 0 4.17vw; height: 100%;}
    [class^="dp_search_style"] .sch_input .sch_btn {right: 4.17vw;}
    [class^="dp_search_style"] .sch_input .sch_btn img {width: 6.25vw}
    .dp_search_style03 {gap: 2.60vw;}
    .dp_search_style03 .sch_select,
    .dp_search_style03 .sch_input,
    .dp_search_style03 .sch_select ul {border-radius: 2.60vw;}

    /* scrollDown */
    .dp_scrollDown {gap: 2.60vw;}
    .dp_scrollDown .txt,
    .dp_scrollDown .txt * {font-size: 4.17vw;}
    .dp_scrollDown img {width: 6.25vw;}
    /* horizontal */
    .dp_scrollDown.horizontal .flow_text {width: 35.03vw;}
    @-webkit-keyframes bounce {
        0%,to {
            -webkit-transform: translateZ(0);
            transform: translateZ(0)
        }

        10%,30%,50%,70%,90% {
            -webkit-transform: translate3d(0,-0.52vw,0);
            transform: translate3d(0,-0.52vw,0)
        }

        20%,40%,60%,80% {
            -webkit-transform: translate3d(0,0.52vw,0);
            transform: translate3d(0,0.52vw,0)
        }
    }

    /* Textboxes */
    textarea {padding: 3.91vw; font-size: 3.65vw; height: 52.08vw;}

    /* 버튼 */
    [class^="dp_btn_"] > * {padding: 2.08vw 6.25vw; font-size: 4.17vw; letter-spacing: -0.16vw;}

    /* 페이징 */
    [class^="dp_paging_style"] .paging{gap:6.25vw}
    [class^="dp_paging_style"] .paging a:not(.page) {width:4.17vw; height:4.17vw;}
    [class^="dp_paging_style"] .paging a.page{font-size:3.65vw;}
    [class^="dp_paging_style"] .paging a.prev{ background-size:4.17vw;}
    [class^="dp_paging_style"] .paging a.next{ background-size:4.17vw;}
    [class^="dp_paging_style"].dp_paging_style01 .paging a.current,
    [class^="dp_paging_style"].dp_paging_style01 .paging a:hover{ text-underline-offset: 0.65vw; text-decoration-thickness: 0.26vw;}
    [class^="dp_paging_style"].dp_paging_style02 .paging a.current {width: 8.59vw;}
    [class^="dp_paging_style"].dp_paging_style02 .paging a.current::before,
    [class^="dp_paging_style"].dp_paging_style02 .paging a:hover::before {width: 8.59vw; height: 8.59vw;}
    [class^="dp_paging_style"].dp_paging_style03 .paging {gap: 3.91vw;}
    [class^="dp_paging_style"].dp_paging_style03 .paging a {width: 9.64vw; height: 8.46vw; border-radius: 1.30vw;}

    /* Tabbar */
    [class^="dp_tab_style"] ul li {flex: 1;}
    [class^="dp_tab_style"] ul li a {padding: 4.17vw 0; width: 100%;}
    [class^="dp_tab_style"] ul li a span {font-size: 4.17vw; letter-spacing: -0.26vw;}
    .dp_tab_style02 ul li.active a::after,
    .dp_tab_style02 ul li:hover a::after {height: 0.52vw; bottom: -0.26vw;}
    .dp_tab_style03 ul li a {padding: 2.08vw 0;}

    /* Slidebar */
    [class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper_bot {gap: 0 2.60vw;}
    [class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper-pagination-bullet {width: 26.04vw; height: 0.52vw;}
    [class^="dp_swiper_style"]:not(.dp_swiper_style01) .swiper-pagination2 span {font-size: 4.17vw; letter-spacing: -0.21vw;}
    [class^="dp_swiper_style"]:not(.dp_swiper_style01) .pause img {width: 7.81vw;}
    [class^="dp_swiper_style"].dp_swiper_style01 .arrow_btn {width: 11.72vw; height: 11.72vw; box-shadow: 0.00vw 1.56vw 4.69vw 0.00vw #959DA533;}
    [class^="dp_swiper_style"].dp_swiper_style01 .arrow_btn img {width: 4.69vw;}
    [class^="dp_swiper_style"].dp_swiper_style02 .pagination_cont {width: 43.62vw; height: 0.52vw; gap: 3.78vw;}
    [class^="dp_swiper_style"].dp_swiper_style02 .swiper-pagination { gap: 0 3.91vw;}
    [class^="dp_swiper_style"].dp_swiper_style02 .swiper_bot .arrow_btn img {width: 4.43vw;}
    [class^="dp_swiper_style"].dp_swiper_style03 .pagination_cont {height: 0.52vw;}
    [class^="dp_swiper_style"].dp_swiper_style03 .swiper_bot {gap: 0 3.91vw;}
    [class^="dp_swiper_style"].dp_swiper_style03 .swiper-pagination-bullet {width: 76.82vw; height: 0.52vw;}

    /* Alertbox */
    [class^="dp_alertbox_style"] .popup_inner{width: 100%; box-shadow: 0.00vw 0.72vw 1.44vw 0.00vw #0000001A;}
    [class^="dp_alertbox_style"] .pop_close img {width: 3.75vw;}
    [class^="dp_alertbox_style"] .pop_tit .tit {font-size: 4.17vw;}
    [class^="dp_alertbox_style"] .pop_cont {padding: 5.73vw 2.21vw 6.51vw 5.73vw;}
    [class^="dp_alertbox_style"] .contents-box-inner {max-height: 26.69vw; padding-right: 3.52vw;}
    [class^="dp_alertbox_style"] .contents-box-inner * {font-size: 3.65vw;}
    [class^="dp_alertbox_style"] .contents-box-inner::-webkit-scrollbar {width: 0.43vw;}
    [class^="dp_alertbox_style"] .contents-box-inner::-webkit-scrollbar-thumb {border-radius: 1.44vw;}
    [class^="dp_alertbox_style"] .contents-box-inner::-webkit-scrollbar-track {border-radius: 1.44vw;}
    [class^="dp_alertbox_style"] .headline {margin: 3.91vw auto 2.08vw;}
    [class^="dp_alertbox_style"] .headline h5 {font-size: 3.65vw;}
    [class^="dp_alertbox_style"] .pop_cont .disc {padding-inline-start:3.39vw;}
    [class^="dp_alertbox_style"] .pop_cont .disc li{ padding-left:2.21vw;}
    [class^="dp_alertbox_style"] .pop_cont .disc li:before{width:0.78vw; height:0.78vw; top:2.21vw;}
    [class^="dp_alertbox_style"].dp_alertbox_style01 .pop_tit {padding: 0 3.78vw; height: 10.16vw;}
    [class^="dp_alertbox_style"].dp_alertbox_style02 .pop_cont {padding-bottom: 5.08vw;}
    [class^="dp_alertbox_style"].dp_alertbox_style02 .popup_inner {border-radius: 4.33vw;}
    [class^="dp_alertbox_style"].dp_alertbox_style02 .pop_tit {width: calc(100% - 9.38vw); padding: 4.95vw 0 1.82vw; position: relative;}
    [class^="dp_alertbox_style"].dp_alertbox_style02 .pop_close {position: absolute; right: 0; top: 50%; transform: translateY(-50%);}

}

